
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Skyvision</a>
    <button class="navbar-toggler mr-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link {% if page == 'index' %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page == 'about' %}active{% endif %} " href="/about">Developer</a>
        </li>
        {% if session['logged_in'] == True %}
        <li class="nav-item">
          <a class="nav-link {% if page == 'account' %}active{% endif %} " href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if page == 'login' or page == 'signup'%}active{% endif %}" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
      </div>
  </div>
</nav>